.container{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.left-container,
.right-container {
    margin: 20px 50px;
    width: 50%;
}

.front-card{
    background-color: rgb(5, 29, 107);
    color: white;
    padding: 25px;
    border-radius: 10px;
    height: 120px;
    width: 250px;
    margin: 20px 80px;
}

.front-card .number{
    font-size: 25px;
    font-weight: bold;
}

.back-card img{
    width: 300px;
    margin: 20px 40px;
    border-radius: 10px;
    margin-left: 120px;
}

.right-container div{
    margin: 15px 0;  
}
.right-container .card-input{
    margin-top: 5px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
}

.btn{
    border: none;
    border-radius: 8px;
}

.confirm-btn{
    background-color: rgb(5, 29, 107);
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
}

.card-info{
    display: flex;
    justify-content: start;
}

.card-date{
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 20%;
}

.card-cvc{
    margin-top: 5px;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

