@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&display=swap');

body{
    font-family: "Chakra Petch", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    margin: 80px;
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2);
    border-radius: 10px;
}

.left-container,
.right-container {
    margin: 20px 50px;
    width: 50%;
}

.right-container{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.front-card{
    background: linear-gradient(135deg, #3b82f6, #ec4899, #f472b6, #0ea5e9, 0.2);
    box-shadow: 10px 10px 30px rgba(242, 230, 230, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    height: 180px;
    width: 340px;
    margin: 5px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header i{
    font-size: 20px;
}

.front-card .number{
    font-size: 30px;
    font-weight: bold;
}

.front-card .name{
    font-size: 20px;
}

.back-card img{
    width: 400px;
    margin: 20px 40px;
    margin-top: -25px;
    border-radius: 10px;
    margin-left: 120px;
    z-index: 0;
    position: relative;
}

.right-container div{
    margin: 15px 0;  
}

.card-input {
    width: 100%; 
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box; 
}

.card-date {
    width: 45%; 
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.card-cvc {
    width: 100%; 
    margin-top: 5px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.confirm-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(5, 29, 107);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.card-info {
    display: flex;
    justify-content: space-evenly;
}

label{
    font-size: 18px;
}
input{
    transition: 0.5s;
    font-size: 16px;
    font-family: "Chakra Petch", sans-serif;
}
input:focus{
    outline: none;
    box-shadow: 10px 10px 15px rgba(3, 19, 68, 0.3);
}

.card-name,
.card-number,
.card-info{
    padding-bottom: 12px;
}

.name-error,
.number-error,
.date-error,
.cnv-error{
    color: red;
    display: none;
    font-size: 15px;
}

